.input-section{
    margin-bottom: 50px;
    margin-top: 100px;
}
.add-note-container{
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.add-note-form{
    display: flex;
    width: 40%;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
#textarea{
    width: 300px;
    height: 150px;
    font-family: Arial, Helvetica, sans-serif;
}
#input-section-title{
    position: relative;
    left: -80px;
    margin-bottom: 5px;
}
#input-section-submit{
    position: relative;
    left: 70px;
    margin-top: 5px;


}
#input-error{
    color: red;
    position: relative;
    left: -70px;
    visibility: hidden;
}
#input-section-bottom{
    
}